body
{
  background-color: #f1f1f6;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
hr
{
 border-style:dotted none none;
 border-color: #e5e4cc;
 border-width: 5px;
 width: 5%;
}
h2
{
   font-family: cursive,Indie Flower;
  font-size: 25px;
  color: #6c7b95;
}
 input {
  border: 2px solid #dfcdc3;
  border-radius: 4px;
}
 textarea {
   border: 2px solid #dfcdc3;
   border-radius: 4px;
 }
.body1 {
  background-color: #f1f1f6;
  padding: 15px;
  height:auto;
  margin-left: 0;
  margin-right: 0;
}
.body2 {
  background-color: white;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
.inner {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}
.inner-img1 {
  width: 15%;
  float: right;
  margin-right: 20%;
}
.inline {
  display: inline-block;
  margin-left: 10%;
}
.font {
   font-family:HelveticaNeue-Ligh;
   font-size: 18px;
   color: #5f6769;
}
 .footer {
   position:absolute;
 left:0;
 right:0;
 }

.th{
  font-weight: bold;
  color: white;
  border:1px solid #545454;
  font-size: 18px;
  background-color: #545454;
}
.edu {
  background-color: #f3dfe3;
}
.draw {
  background-color: #f3dfe3;
}
.read {
  background-color: #e9b2bc;
}
.cook {
  background-color: #f3dfe3;
}
.Circular
{
  border-radius: 100%;
}
a:link{
  color:#d45d79;
}
a:visited{
  color: #7fcd91;
}
a:hover{
  color: #ea9085;
}
a:active{
  color:#b9cced;
}
.Drawing:hover {
  background-color:gold;
}
.click {
  background-color: #ad62aa;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: HelveticaNeue-Ligh;
    font-size: 20px;
    box-shadow: 6px 6px #e0dede;
}
/* img:hover {
  background-color: gold;
}*/
/* .aspic {
  margin-bottom: 20px;
  padding-right: 90%;
  width: 5%;
  border-radius: 100%;
}*/
